<!DOCTYPE html>
<html>
  <head>
    <title>System manager</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <% if controller_name == "projects" %>
              <li class="active"><%= link_to "Projects", { controller: 'projects', action: 'index' } %></li>
            <% else %>
              <li><%= link_to "Projects", { controller: 'projects', action: 'index' } %></li>
            <% end %>

            <% if controller_name == "technologies" %>
              <li class="active"><%= link_to "Technologies", { controller: 'technologies', action: 'index' } %></li>
            <% else %>
              <li><%= link_to "Technologies", { controller: 'technologies', action: 'index' } %></li>
            <% end %>
            
            <% if controller_name == "databases" %>
              <li class="active"><%= link_to "Databases", { controller: 'databases', action: 'index' } %></li>
            <% else %>
              <li><%= link_to "Databases", { controller: 'databases', action: 'index' } %></li>
            <% end %>

          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
          <%= render 'layouts/footer' %>
          <!-- <%= debug(params) if Rails.env.development? %> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
